<div class="well">
    <ul class="nav nav-list">
        <li><a href="{{ path('produitAdmin_index') }}">Produits</a></li>
        
        <li>
            <a href="{{ path('categorieAdmin_index') }}">Catégories Produits</a>
        </li>
        <li>
            <a href="{{ path('adminUnitemesure_index') }}">Unités Mesures</a>
        </li>
    </ul>
</div>

<div class="well">
    <ul class="nav nav-list">
        <li><a href="{{ path('utilisateurAdmin_index') }}">Clients</a></li>
        
        <li>
            <a href="{{ path('CommandeAdmin_index') }}">Commandes</a>
        </li>
    </ul>
</div>

<div class="well">
    <ul class="nav nav-list">
        <li><a href="{{ path('adminPages_index')}}">Pages</a></li>
        
        
    </ul>
</div>
