{% trans_default_domain 'FOSUserBundle' %}

{# {% extends "@FOSUser/layout.html.twig" %} #}
{% block body %}
    <!-- products-breadcrumb -->
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="{{ path('produits') }}">Accueil</a><span>|</span></li>
                <li>Modifier mes informations</li>
            </ul>
        </div>
    </div>
<!-- //products-breadcrumb -->
<!-- banner -->
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
             <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header nav_2">
                  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
               </div> 
               <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav nav_1">
                        {% render(controller('EcommerceBundle:Categorie:menu')) %}
                    </ul>
                 </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="w3l_banner_nav_right">
            <div class="w3_login">
            <h3>Modifier mes informations</h3>
            <div class="w3_login_module">
                <div>
               {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
                    {# <form action="#" method="post">
                      <input type="text" name="Username" placeholder="Username" required=" ">
                      <input type="password" name="Password" placeholder="Password" required=" ">
                      <input type="email" name="Email" placeholder="Email Address" required=" ">
                      <input type="text" name="Phone" placeholder="Phone Number" required=" ">
                      <input type="submit" value="Register">
                    </form> #}
                  </div>
            </div>
            
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

